# OS
.DS_Store
Thumbs.db

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Firebase Cache
.firebase/

# Dependencies
node_modules/
.pnpm-store/

# Build & Cache
dist/
.next/
.expo/
.turbo/
*.log

# Environment variables
.env
.env*.local

# IDE & AI
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.gemini/

# Project Context
context/
